body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: rgba(128, 128, 128, 0.8);
}

header {
  background-color: rgba(128, 128, 128, 0.8);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav {
  background-color: #f0f0f0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav a {
  float: left;
  display: block;
  color: rgba(128, 128, 128, 0.8);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #f0f0f0;
}

.hero {
  background: url("C.JPEG") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 4em;
  margin: 0;
  margin-top: 20px;
}

.container {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 0px;
  width: 100%;
}

.about,
.services,
.projects,
.contact {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 100vh;
  background-color: #f0f0f0;
}

.about {
  background-image: url("q.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
}

.about h2,
.services h2,
.projects h2,
.contact h2 {
  color: #a9a9a9;
  border-bottom: 2px solid #a9a9a9;
  padding-bottom: 15px;
  font-size: 3em;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.8);
  color: #fff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  background-color: #a9a9a9;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #003366;
}

.projects {
  background-color: white; /* Set the background to white */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: flex; /* Adjust the height based on content */
}

.project-container {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  
}

.project {
  display: flex;
  gap: 0px;
  height: auto;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
   
}

.project img {
  width: 20%;
  object-fit: cover;
  height: auto;
  align-self: center;
  border-radius: 20px;
  
}

.project-content {
  padding: 20px;
  
}

.project-content h3 {
  margin-top: 0;
  color: #003366;
  font-size: 2.4em;
}

.project-content p {
  margin-bottom: 0;
  font-size: 1.6em;
  color: rgba(128, 128, 128, 0.8);
}
